# Introduction to Pandas

##### Pandas is an open source Python library for data analysis. It gives Python the ability to work with spreadsheet-like data for fast data loading, manipulating, aligning, and merging

### There are two main components of Pandas
### Series and DataFrame
The DataFrame represents your entire spreadsheet or rectangular data, whereas the Series is a single column of the DataFrame.

In [28]:
#import numpy, pandas and matplotlib libraies
import numpy as np
import pandas as pd
from pandas import *
import matplotlib.pyplot as plt
%matplotlib inline

# Series

In [3]:
#create a series 
ser=pd.Series([1,2,3,4,5])
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
#access the series element values
ser.values

array([1, 2, 3, 4, 5])

In [6]:
#access the series indexes
ser.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
#series with custom index
sample_ser=pd.Series([32,88,76,75,19],index=['a','b','c','d','e'])
sample_ser

a    32
b    88
c    76
d    75
e    19
dtype: int64

In [8]:
#indexing of series
sample_ser['c']

76

In [9]:
#assigning values to series via indexes
sample_ser['d']=100

In [10]:
sample_ser

a     32
b     88
c     76
d    100
e     19
dtype: int64

In [16]:
#create a series with custom index passed as a list
states = ['California', 'Ohio', 'Oregon', 'Texas']
data=[100,200,300,400]
state_ser= pd.Series(data, index=states)

In [17]:
state_ser

California    100
Ohio          200
Oregon        300
Texas         400
dtype: int64

## Filtering Condtions

In [11]:
#fetch records based on condition
sample_ser[sample_ser >75]

b     88
c     76
d    100
dtype: int64

In [13]:
#validate if particular index in series
'e' in sample_ser

True

In [14]:
#converting series into dictionary
ser_dict=sample_ser.to_dict()
ser_dict

{'a': 32, 'b': 88, 'c': 76, 'd': 100, 'e': 19}

In [15]:
#converting dictionary to series
dict_ser=pd.Series(ser_dict)
dict_ser

a     32
b     88
c     76
d    100
e     19
dtype: int64

## Dataframes

#### Three ways you can create Dataframe Objects in Python

1. Reading data from webpage
2. Reading data from a file location ( local/cloud/database) 
3. Creating a dataframe locally by passing values using pandas DataFrame function

#### Case I : Reading from a webpage

#### Case II : Reading Data from a file lcoation

In [48]:
#create a pandas dataframe using read_csv function 
df=pd.read_csv('nfl.csv')

In [49]:
#generic information about df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
Rank                32 non-null int64
Team                32 non-null int64
Won                 32 non-null object
Lost                32 non-null int64
Tied                32 non-null int64
Pct.                32 non-null int64
First NFL Season    32 non-null float64
Total Games         32 non-null int64
Division            32 non-null object
Zone                32 non-null object
dtypes: float64(1), int64(6), object(3)
memory usage: 2.6+ KB

In [50]:
#Generate statistics values of df
df.describe()

,Rank,Team,Lost,Tied,Pct.,First NFL Season,Total Games
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,15.500000,16.500000,448.437500,439.593750,13.250000,0.500531,1956.625000
std,9.380832,9.380832,156.415893,137.048816,12.492578,0.047509,22.511287
min,0.000000,1.000000,110.000000,146.000000,0.000000,0.387000,1920.000000
25%,7.750000,8.750000,351.000000,389.000000,4.750000,0.460000,1936.000000
50%,15.500000,16.500000,462.000000,440.500000,9.500000,0.502500,1960.000000
75%,23.250000,24.250000,550.750000,543.250000,20.250000,0.537500,1966.250000
max,31.000000,32.000000,749.000000,740.000000,42.000000,0.573000,2002.000000

In [51]:
# Columns present in dataframe
df.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division', 'Zone'],
      dtype='object')

In [52]:
#Wrong way of accessing columns  with space in names
df.Total Games

SyntaxError: invalid syntax (<ipython-input-52-103eb8238ae1>, line 2)

In [53]:
#correct way of accessing column values for such columns
df['Total Games']

0     1960
1     1921
2     1920
3     1966
4     1960
5     1961
6     1996
7     1925
8     1960
9     1950
10    1933
11    1960
12    1953
13    1960
14    1976
15    1932
16    1995
17    1960
18    1937
19    1950
20    1933
21    1960
22    1960
23    1930
24    1968
25    1960
26    1995
27    1967
28    1966
29    2002
30    1920
31    1976
Name: Total Games, dtype: int64

In [54]:
#sneak peek into the datframe , view only top few rows
df.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Zone
0,0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North

In [55]:
#last few records of the dataframe
df.tail(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Zone
30,30,31,Arizona Cardinals,550,740,40,0.429,1920,"1,330",NFC West
31,31,32,Tampa Bay Buccaneers,255,404,1,0.387,1976,660,NFC South

In [56]:
#random sample view of records 
df.sample(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Zone
4,4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
24,24,25,Cincinnati Bengals,351,417,4,0.457,1968,772,AFC North
18,18,19,Los Angeles Rams,555,559,21,0.498,1937,"1,135",NFC West

In [65]:
#select few columns 
df_small=df[['Rank', 'Team', 'Won', 'Lost','Division','Zone']]

In [66]:
df_small

    Rank  Team                      Won  Lost Division       Zone
0      0     1           Dallas Cowboys   502      882   NFC East
1      1     2        Green Bay Packers   737    1,336  NFC North
2      2     3            Chicago Bears   749    1,370  NFC North
3      3     4           Miami Dolphins   445      800   AFC East
4      4     5  New England Patriots[b]   489      884   AFC East
5      5     6        Minnesota Vikings   470      870  NFC North
6      6     7         Baltimore Ravens   190      352  AFC North
7      7     8          New York Giants   687    1,305   NFC East
8      8     9           Denver Broncos   470      884   AFC West
9      9    10      San Francisco 49ers   528    1,002   NFC West
10    10    11      Pittsburgh Steelers   614    1,172  AFC North
11    11    12          Oakland Raiders   462      884   AFC West
12    12    13    Indianapolis Colts[c]   506      966  AFC South
13    13    14       Kansas City Chiefs   457      884   AFC West
14    14    15         Seattle Seahawks   334      660   NFC West
15    15    16      Washington Redskins   595    1,202   NFC East
16    16    17        Carolina Panthers   183      368  NFC South
17    17    18     Los Angeles Chargers   435      884   AFC West
18    18    19         Los Angeles Rams   555    1,135   NFC West
19    19    20         Cleveland Browns   462      954  AFC North
20    20    21      Philadelphia Eagles   568    1,188   NFC East
21    21    22         Tennessee Titans   422      884  AFC South
22    22    23            Buffalo Bills   409      884   AFC East
23    23    24            Detroit Lions   553    1,233  NFC North
24    24    25       Cincinnati Bengals   351      772  AFC North
25    25    26            New York Jets   397      884   AFC East
26    26    27     Jacksonville Jaguars   165      368  AFC South
27    27    28       New Orleans Saints   349      786  NFC South
28    28    29          Atlanta Falcons   351      790  NFC South
29    29    30           Houston Texans   110      256  AFC South
30    30    31        Arizona Cardinals   550    1,330   NFC West
31    31    32     Tampa Bay Buccaneers   255      660  NFC South

In [67]:
#shape & Size of data
df_small.shape

(32, 6)

In [69]:
#group by column values
df_small.Zone.value_counts()

NFC West     4
AFC South    4
AFC West     4
AFC East     4
NFC North    4
NFC East     4
NFC South    4
AFC North    4
Name: Zone, dtype: int64

In [70]:
#fetch particular row (first row)
df_small.iloc[0]

Rank                     0
Team                     1
Won         Dallas Cowboys
Lost                   502
Division               882
Zone              NFC East
Name: 0, dtype: object

In [74]:
#add new column with fixed value
df_small['new_col']=5

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [75]:
df_small

    Rank  Team                      Won  Lost Division       Zone  new_col
0      0     1           Dallas Cowboys   502      882   NFC East        5
1      1     2        Green Bay Packers   737    1,336  NFC North        5
2      2     3            Chicago Bears   749    1,370  NFC North        5
3      3     4           Miami Dolphins   445      800   AFC East        5
4      4     5  New England Patriots[b]   489      884   AFC East        5
5      5     6        Minnesota Vikings   470      870  NFC North        5
6      6     7         Baltimore Ravens   190      352  AFC North        5
7      7     8          New York Giants   687    1,305   NFC East        5
8      8     9           Denver Broncos   470      884   AFC West        5
9      9    10      San Francisco 49ers   528    1,002   NFC West        5
10    10    11      Pittsburgh Steelers   614    1,172  AFC North        5
11    11    12          Oakland Raiders   462      884   AFC West        5
12    12    13    Indianapolis Colts[c]   506      966  AFC South        5
13    13    14       Kansas City Chiefs   457      884   AFC West        5
14    14    15         Seattle Seahawks   334      660   NFC West        5
15    15    16      Washington Redskins   595    1,202   NFC East        5
16    16    17        Carolina Panthers   183      368  NFC South        5
17    17    18     Los Angeles Chargers   435      884   AFC West        5
18    18    19         Los Angeles Rams   555    1,135   NFC West        5
19    19    20         Cleveland Browns   462      954  AFC North        5
20    20    21      Philadelphia Eagles   568    1,188   NFC East        5
21    21    22         Tennessee Titans   422      884  AFC South        5
22    22    23            Buffalo Bills   409      884   AFC East        5
23    23    24            Detroit Lions   553    1,233  NFC North        5
24    24    25       Cincinnati Bengals   351      772  AFC North        5
25    25    26            New York Jets   397      884   AFC East        5
26    26    27     Jacksonville Jaguars   165      368  AFC South        5
27    27    28       New Orleans Saints   349      786  NFC South        5
28    28    29          Atlanta Falcons   351      790  NFC South        5
29    29    30           Houston Texans   110      256  AFC South        5
30    30    31        Arizona Cardinals   550    1,330   NFC West        5
31    31    32     Tampa Bay Buccaneers   255      660  NFC South        5

In [76]:
#Add new column with random values
df_small['new_col']=np.arange(32)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [77]:
df_small

    Rank  Team                      Won  Lost Division       Zone  new_col
0      0     1           Dallas Cowboys   502      882   NFC East        0
1      1     2        Green Bay Packers   737    1,336  NFC North        1
2      2     3            Chicago Bears   749    1,370  NFC North        2
3      3     4           Miami Dolphins   445      800   AFC East        3
4      4     5  New England Patriots[b]   489      884   AFC East        4
5      5     6        Minnesota Vikings   470      870  NFC North        5
6      6     7         Baltimore Ravens   190      352  AFC North        6
7      7     8          New York Giants   687    1,305   NFC East        7
8      8     9           Denver Broncos   470      884   AFC West        8
9      9    10      San Francisco 49ers   528    1,002   NFC West        9
10    10    11      Pittsburgh Steelers   614    1,172  AFC North       10
11    11    12          Oakland Raiders   462      884   AFC West       11
12    12    13    Indianapolis Colts[c]   506      966  AFC South       12
13    13    14       Kansas City Chiefs   457      884   AFC West       13
14    14    15         Seattle Seahawks   334      660   NFC West       14
15    15    16      Washington Redskins   595    1,202   NFC East       15
16    16    17        Carolina Panthers   183      368  NFC South       16
17    17    18     Los Angeles Chargers   435      884   AFC West       17
18    18    19         Los Angeles Rams   555    1,135   NFC West       18
19    19    20         Cleveland Browns   462      954  AFC North       19
20    20    21      Philadelphia Eagles   568    1,188   NFC East       20
21    21    22         Tennessee Titans   422      884  AFC South       21
22    22    23            Buffalo Bills   409      884   AFC East       22
23    23    24            Detroit Lions   553    1,233  NFC North       23
24    24    25       Cincinnati Bengals   351      772  AFC North       24
25    25    26            New York Jets   397      884   AFC East       25
26    26    27     Jacksonville Jaguars   165      368  AFC South       26
27    27    28       New Orleans Saints   349      786  NFC South       27
28    28    29          Atlanta Falcons   351      790  NFC South       28
29    29    30           Houston Texans   110      256  AFC South       29
30    30    31        Arizona Cardinals   550    1,330   NFC West       30
31    31    32     Tampa Bay Buccaneers   255      660  NFC South       31

In [78]:
#del the column
del df_small['new_col']

In [79]:
df_small

    Rank  Team                      Won  Lost Division       Zone
0      0     1           Dallas Cowboys   502      882   NFC East
1      1     2        Green Bay Packers   737    1,336  NFC North
2      2     3            Chicago Bears   749    1,370  NFC North
3      3     4           Miami Dolphins   445      800   AFC East
4      4     5  New England Patriots[b]   489      884   AFC East
5      5     6        Minnesota Vikings   470      870  NFC North
6      6     7         Baltimore Ravens   190      352  AFC North
7      7     8          New York Giants   687    1,305   NFC East
8      8     9           Denver Broncos   470      884   AFC West
9      9    10      San Francisco 49ers   528    1,002   NFC West
10    10    11      Pittsburgh Steelers   614    1,172  AFC North
11    11    12          Oakland Raiders   462      884   AFC West
12    12    13    Indianapolis Colts[c]   506      966  AFC South
13    13    14       Kansas City Chiefs   457      884   AFC West
14    14    15         Seattle Seahawks   334      660   NFC West
15    15    16      Washington Redskins   595    1,202   NFC East
16    16    17        Carolina Panthers   183      368  NFC South
17    17    18     Los Angeles Chargers   435      884   AFC West
18    18    19         Los Angeles Rams   555    1,135   NFC West
19    19    20         Cleveland Browns   462      954  AFC North
20    20    21      Philadelphia Eagles   568    1,188   NFC East
21    21    22         Tennessee Titans   422      884  AFC South
22    22    23            Buffalo Bills   409      884   AFC East
23    23    24            Detroit Lions   553    1,233  NFC North
24    24    25       Cincinnati Bengals   351      772  AFC North
25    25    26            New York Jets   397      884   AFC East
26    26    27     Jacksonville Jaguars   165      368  AFC South
27    27    28       New Orleans Saints   349      786  NFC South
28    28    29          Atlanta Falcons   351      790  NFC South
29    29    30           Houston Texans   110      256  AFC South
30    30    31        Arizona Cardinals   550    1,330   NFC West
31    31    32     Tampa Bay Buccaneers   255      660  NFC South

In [80]:
#Rename columns
df_small = df_small.rename(columns={'Rank': 'Standings', 'Division': 'Section'})

In [81]:
df_small

    Standings  Team                      Won  Lost Section       Zone
0           0     1           Dallas Cowboys   502     882   NFC East
1           1     2        Green Bay Packers   737   1,336  NFC North
2           2     3            Chicago Bears   749   1,370  NFC North
3           3     4           Miami Dolphins   445     800   AFC East
4           4     5  New England Patriots[b]   489     884   AFC East
5           5     6        Minnesota Vikings   470     870  NFC North
6           6     7         Baltimore Ravens   190     352  AFC North
7           7     8          New York Giants   687   1,305   NFC East
8           8     9           Denver Broncos   470     884   AFC West
9           9    10      San Francisco 49ers   528   1,002   NFC West
10         10    11      Pittsburgh Steelers   614   1,172  AFC North
11         11    12          Oakland Raiders   462     884   AFC West
12         12    13    Indianapolis Colts[c]   506     966  AFC South
13         13    14       Kansas City Chiefs   457     884   AFC West
14         14    15         Seattle Seahawks   334     660   NFC West
15         15    16      Washington Redskins   595   1,202   NFC East
16         16    17        Carolina Panthers   183     368  NFC South
17         17    18     Los Angeles Chargers   435     884   AFC West
18         18    19         Los Angeles Rams   555   1,135   NFC West
19         19    20         Cleveland Browns   462     954  AFC North
20         20    21      Philadelphia Eagles   568   1,188   NFC East
21         21    22         Tennessee Titans   422     884  AFC South
22         22    23            Buffalo Bills   409     884   AFC East
23         23    24            Detroit Lions   553   1,233  NFC North
24         24    25       Cincinnati Bengals   351     772  AFC North
25         25    26            New York Jets   397     884   AFC East
26         26    27     Jacksonville Jaguars   165     368  AFC South
27         27    28       New Orleans Saints   349     786  NFC South
28         28    29          Atlanta Falcons   351     790  NFC South
29         29    30           Houston Texans   110     256  AFC South
30         30    31        Arizona Cardinals   550   1,330   NFC West
31         31    32     Tampa Bay Buccaneers   255     660  NFC South

#### Case III : Create the dataframe locally by passing dictionary values

In [82]:
#create dictionary for dataframe
player_dict={'Player':['Federer','Murray','Nadal','Djokovic','Sharapova','Williams'],
       200,225 'Matches':[,300,150,275,325],
     'Rank':[1,2,3,4,5,6]}

In [84]:
#create the dataframe using dictionary values
player_df=pd.DataFrame(player_dict,index=np.arange(1,7))
player_df

   Matches     Player  Rank
1      200    Federer     1
2      225     Murray     2
3      300      Nadal     3
4      150   Djokovic     4
5      275  Sharapova     5
6      325   Williams     6

# Indexing objects

In [85]:
#fetch the 4th index for Matches column
player_df.Matches[4]

150

In [86]:
player_df.Player[4]

'Djokovic'

In [87]:
# Reindexing
player_df.reindex(np.arange(1,8))

   Matches     Player  Rank
1    200.0    Federer   1.0
2    225.0     Murray   2.0
3    300.0      Nadal   3.0
4    150.0   Djokovic   4.0
5    275.0  Sharapova   5.0
6    325.0   Williams   6.0
7      NaN        NaN   NaN

## Drop rows & columns

In [88]:
#drop column ( axis=1)
player_df.drop('Rank',axis=1)

   Matches     Player
1      200    Federer
2      225     Murray
3      300      Nadal
4      150   Djokovic
5      275  Sharapova
6      325   Williams

In [89]:
#drop row ( axis=0)
player_df.drop(6,axis=0)

   Matches     Player  Rank
1      200    Federer     1
2      225     Murray     2
3      300      Nadal     3
4      150   Djokovic     4
5      275  Sharapova     5

## Conditions

In [90]:
player_df[player_df.Rank < 4]

   Matches   Player  Rank
1      200  Federer     1
2      225   Murray     2
3      300    Nadal     3

In [91]:
player_df.Rank < 4

1     True
2     True
3     True
4    False
5    False
6    False
Name: Rank, dtype: bool